*{
    margin: 0;
    padding: 0;
}
h1{
    color: rgb(29, 12, 116);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

body{
    background-color: #e0c4b0;
    text-align: center;
}

.container{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
   height: 450px; 
   width: 500px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 15px;

}

.box{
    height: 130px;
    width: 130px;
    background-color: #eae9ee;
    font-size: 45px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 1rem rgba(8, 0, 0, 0.3);
    cursor: pointer;
}

#reset{
    height: 45px;
    width: 180px;
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    background-color: rgb(2, 2, 85);
    color: white;
    cursor: pointer;
    
}


#newGame-btn{
    height: 60px;
    width: 300px;
    text-align: center;
    font-size: 30px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    background-color: #415a77;
    color: #ced4da;
    cursor: pointer;
}

#msg{
    color: rgb(1, 88, 10);
    font-size: 45px;
    font-weight:bold;
}

.msg-box{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hide{
    display: none;
}
